<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title></title>
</head>
<body>

<h1>check</h1>

{% for i in cd %}
    <p>{{ i.headImg.url}}</p>
    <p>{{ i.username}}</p>
    <p>{{ i.kap}}</p>
    <p>{{ i.C_lass}}</p>
	<img src="{{ i.headImg.url}}">
{% endfor %}
<form method="post"  >
{% csrf_token %}
{#    {{ db.headImg }}enctype="multipart/form-data"#}
{#    {{ db.username }}#}
{#    {{ db.kap }}#}
{#    {{ db.C_lass}}#}
    <input type="submit" name="ok" value="ok"/>
    <input type="submit" name="delete" value="delete"/>
</form>
</body>
</html>
