{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.0.js"></script>
	<link rel="stylesheet" type="text/css" href="{% static "css/men.css"%}">
	<link rel="stylesheet" type="text/css" href="{% static "css/jquery.bxslider.css"%}">
	<script type="text/javascript" src="{% static "js/men.js"%}"></script>
	<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.0.js"></script>
</head>
	<script type="text/javascript" src="{% static "js/jquery.bxslider.js" %}"></script>
	<script type="text/javascript" src="{% static "js/jquery.lazyload.js" %}"></script>
<body>
<div class="main">
	
	<div class="home_img">
		
	</div>

<div id="lean_overlay" ></div>

	<div class="head">
		<div class="head-s">
<!-- 			<div id="unfold">
				<a class="flatbtn">
					<span class="linetop" ></span>
					<span class="linemet" ></span>
					<span class="linebot" ></span>
				</a>
			</div> -->
			<div class="head-title">最美校内网图片库</div>
<!-- 			<div>
			<a href="user/user.html" class="login"> 
				<img src="../images/logo.png" alt="">
			 </a>
			</div> -->
		</div>
	</div>




	<div class="cover" >
		<div class="slider1" >
			<div class="slide"><img src="static/images/banner1.png" alt=""></div>
			<div class="slide"><img src="static/images/banner1.png" alt=""></div>
			<div class="slide"><img src="static/images/banner1.png" alt=""></div>
		</div>
	</div>
	<script>
	$('.slider1').bxSlider({
        slideWidth: $('.cover').width(),
        minSlides: 1,
        maxSlides: 1,
        slideMargin: 1,
		hideControlOnEnd: true,
		adaptiveHeight: true,
		startSlides: 0, 
    });
	</script>

	<div id="menus_header" class="auto">
		<div id="seracn">
			<form action="/search" method="get" class="ks">
				<input type="search" class="keywork" name="user_search" placeholder="输入班级或姓名">
				<input type="submit" value="" class="btn" >
			</form>
		</div>
	</div>




<div id="tab">
        <ul id="tab-hd">
            <ol class="tab-hd-con tab-active">最新</ol>
            <ol class="tab-hd-con ">最热</ol>
        </ul>

<div class="widget-photos" >
        <ul class="list">
{% for i in l3 %}
    {% for x in i %}
        <li>
            <a href="/in/?name={{ x.username }}&kap={{ x.kap }}&class={{ x.C_lass }}">
            <img class="iload lazy" data-original="{{ x.headImg }}" src="{{ x.headImg }}" alt="">
            <p class="img-name">{{ x.kap }} {{ x.C_lass }} {{ x.username }}</p>
            </a>
        {% if x.index %}
        	
        	<p class="Ans">
        	<a>        		
            <input id="zan{{ x.index }}" type="submit" class="zan" name="zan" value=""/>
            <tt>{{ x.zan }}</tt>
        	</a>
        	
        	<a>        	 	
            <input id="cai{{ x.index }}" type="submit" class="cai" name="cai" value=""/>
            <tt>{{ x.cai }}</tt>
        	</a>
        	</p>

            <script>
                $("#zan{{ x.index }}").click(function () {
                    $.get("/zan/?id={{ x.index }}&count={{ x.zan }}")
                })
                $("#cai{{ x.index }}").click(function () {
                    $.get("/cai/?id={{ x.index }}&count={{ x.cai }}")
                })
            </script>
        {% endif %}
        </li>

    {% endfor %}
{% endfor %}
        </ul>
    </div>

	<div class="widget-photos" style="display:none">
		<ul class="list">
				<li>
				<a  href=""><img class="iload lazy" data-original="" alt="">
				<p class="img-name">小红唇</p>
				</a>
				</li>
		</ul>
	</div>
	

</div>
	
	<div class="bot">到底了 试试上方发搜索功能吧</div>

	<div class="food">
		<label for="">CopyRight@2016-2017</label>
			<p>中山高校联盟</p>
	</div>

	<div>
		<a href="#" class="gtop"><i></i></a>
	</div>

</div>

</body>
</html>